
.jumbotron {
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}
.table {
    margin-top: 20px;
}
.table th {
    text-align: center;
}
.form-control, .btn, .alert{
    margin: auto;
    margin-top: 5px;
    width: 90%;            
}
.selecionado {
    background-color: yellow;
}
.negrito {
    font-weight: bold;
}
